services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ./src:/var/www/html
      - ${FRAMEWORK_PATH}/framework:/var/www/html/framework
      - ${FRAMEWORK_PATH}/index.php:/var/www/html/index.php
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./logs:/var/www/log
    depends_on:
      - php-fpm
    networks:
      - app-network

  php-fpm:
    image: php:8.1-fpm
    container_name: php-fpm
    restart: unless-stopped
    build:
      context: ./dockerfile
      dockerfile: php-fpm.Dockerfile
    volumes:
      - ./src:/var/www/html
      - ${FRAMEWORK_PATH}/framework:/var/www/html/framework
      - ${FRAMEWORK_PATH}/index.php:/var/www/html/index.php
      - ./logs:/var/www/log
    depends_on:
      - mysql
    networks:
      - app-network

  mysql:
    image: mysql:5.7
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    build:
      context: ./database
      dockerfile: ../dockerfile/mysql.Dockerfile
      args:
        MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    ports:
      - "${PHPMA_PORT}:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_USER: ${MYSQL_USER}
      PMA_PASSWORD: ${MYSQL_PASSWORD}
    depends_on:
      - mysql
    networks:
      - app-network

  mailpit:
    container_name: mailpit
    image: axllent/mailpit
    restart: unless-stopped
    environment:
      - MP_MAX_MESSAGES=5000
      - MP_DATABASE=/data/mailpit.db
      - MP_SMTP_AUTH_ACCEPT_ANY=1
      - MP_SMTP_AUTH_ALLOW_INSECURE=1
    volumes:
      - mailpit-data:/data
    ports:
      - "${MAILPIT_PORT}:8025"
      - 1025:1025
    networks:
      - app-network

volumes:
  db_data:
  mailpit-data:
  
networks:
  app-network: