includes:
  - phpstan-baseline.neon

parameters:
  level: 5
  paths:
    - src
  tmpDir: var/phpstan
  reportUnmatchedIgnoredErrors: true
  excludePaths:
    - src/lib/demo_seed.php
    - src/lib/regenerate-variants.php
